.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url(../img/background_1.png) no-repeat center center scroll;
    padding: 60px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-bg-fixed-height {
	background: url('https://freeios7.com/download/freeios7.com_apple_wallpaper_purple-galaxy-y_ipad_retina.jpg') no-repeat center center scroll;
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 30px 15px;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
}

br {
    line-height: 150%;
}

.texto-justificado {
text-align: justify;
text-justify: inter-word;
line-height: 180%;
}

.logo {
max-height: 200px;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 15px 12px rgba(0, 0, 0, .5);
    background-color: white;
}

.retrato {
    max-height: 300px;
    margin: 10px;
}

body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://freeios7.com/download/freeios7.com_apple_wallpaper_purple-galaxy-y_ipad_retina.jpg);
}

.background-primary {
    background-color: #9c64a6;
}
